/* App.css */
.app {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, transparent, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgba(255,153,153,1) 100%), url('../src/component/assets/illustration.jpg'); /* Path to your image */
  background-repeat: repeat; /* Make the background image repeat */
  background-position: center;
  background-attachment: fixed;
}

.floating-container {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  position: relative;
  box-shadow: 4px 4px rgb(5, 202, 233);
}
.income-container{
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 30%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  position: relative;
  box-shadow: 4px 4px lightgreen;
}
.expenses-container{
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 30%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  position: relative;
  box-shadow: 4px 4px red;
}

.card {
  box-shadow: none;
  border: none;
}

.card-header, .card-footer {
  background-color: transparent;
}

.card-body {
  padding: 0;
}

.container {
  padding: 0;
}

input[type="number"], input[type="date"], select {
  width: 100%;
}
