/* App.css */
.app {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, transparent, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 90%,rgba(25, 0, 255, 0.536) 100%), url('../src/component/assets/illustration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
}


.floating-container {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  position: relative;
  box-shadow: 4px 4px rgb(5, 202, 233);
}
.income-container,
.expenses-container {
  background: white;
  box-shadow: 4px 4px;
  border-radius: 8px;
  width: 30%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.income-container {
  box-shadow: 4px 4px lightgreen;
}

.expenses-container {
  box-shadow: 4px 4px red;
}

.card {
  box-shadow: none;
  border: none;
}

.card-header, .card-footer {
  background-color: transparent;
}

.card-body {
  padding: 0;
}

.container {
  padding: 0;
}

input[type="number"], input[type="date"], select {
  width: 100%;
}

@media (max-width: 768px) {
  .app{
    display: flex;
    flex-direction: column; 
  }
  
  .floating-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  .income-container,
  .expenses-container {
    text-align: center;
    width: 100%; /* Full width for mobile screens */
    margin: 10px 0; /* Adjust margin for spacing */
    display: block; /* Ensure display */
  }
}